*{
    margin: 0px;
    padding: 0px; 
    margin-block-start:  0px;
    margin-block-end:  0px;
 }

.full_wrap{
    width: 100%;
}

.wrap{
    width: 75%;
    margin: 0 auto;
}

/*-------- web site title start from here ----------*/
.heading_bg{
    background-color: #120c5f;
}
#heading {
    background-color: #120c5f;
    padding: 20px;
    font-family: georgia;
    border: 1px solid #ffffff;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
}

#heading h2{
    color: #ffffff;
}

#heading p{
    color: #ffffff;
    padding-top: 10px;
    font-size: 15px;
}
/*-------- web site title stop here ----------*/

/*-------- web site menubar start from here ----------*/
.menu_bg{
    background-color: #120c5f;
    position: sticky;
    top: 0;
    z-index: 999999999999999999999999999;
    border: 1px solid #ffffff;
    border-left: none;
    border-right: none;
}
#navigation {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
select{
    display: none;
    width: 100%;
    min-height: 39px;
    border: 1px solid #120c5f;
    border-top: 4px solid #120c5f;
    border-bottom: 4px solid #120c5f;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 2%;
    color: #120c5f;
    outline: none;
}

#navigation ul{
    list-style: none;
    background-color: #ffffff;
    min-height: 39px;
    border: 1px solid #120c5f;
    border-top: 4px solid #120c5f;
    border-bottom: 4px solid #120c5f;
    z-index: 99999999999999999999;
}

#navigation ul li {
    float: left;
    width: 16%;
    border-left: 1px solid #3c35a3;
    border-right: 1px solid #0c0842;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
#navigation ul li:first-child{
    border-left:none;
}
#navigation ul li:last-child{
    border-right: none;
}

#navigation ul li:hover{
    overflow: visible;
    width: 16%;
}

#navigation ul li a{
    padding: 10px 2%;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #120c5f;
    font-family: tahoma;
    transition: all 0.3s;
    text-size-adjust: 100%;
}

#navigation ul li a:hover{
    color: #ffffff;
    background-color: #120c5f;
}

#navigation ul li ul {
    width: 102%;
    position: absolute;
    left: -2px;
    list-style: none;
    border: none;
    border-top: 4px solid #120c5f;
    box-sizing: border-box;
}
#navigation ul li ul li {
    float: none;
    width: 100%;
    border-bottom: 1px solid #3c35a3;
    border-top: 1px solid #0c0842;
    position: relative;
    box-sizing: border-box;
}

#navigation ul li ul li:first-child{
    border-left: 1px solid #3c35a3;
}
#navigation ul li ul li:last-child{
    border-right: 1px solid #0c0842;
}

#navigation ul li ul li:hover{
    overflow-x: visible;
    width: 100%;
}

#navigation ul li ul li ul {
    width: 126%;
    list-style: none;
    position: absolute;
    left: 100.5%;
    top: -1px;
    border: none;
    box-sizing: border-box;
}
/*
#navigation ul li ul li .last {
    width: 126%;
    list-style: none;
    position: absolute;
    right: 100.5%;
    left: initial;
    top: -1px;
    border: none;
    box-sizing: border-box;
} */

#navigation ul li ul li ul li{
    float:none;
    width: 100%; 
}
#navigation ul li ul li ul li:hover{
    width: 100%;
}
/*-------- web site menu bar stop here ----------*/

/*--------slider start here-------*/
.slider-wrapper {
    border: 1px solid #ffffff;
    border-top: none;
    box-sizing: border-box;
}

.theme-dark.slider-wrapper {
    background: #120c5f;
}
.slider_bg{
    background-color: #120c5f;
    overflow: hidden;
}

/*cs_start here*/
.cs_bg{
    background-color: #ffffff;
}
.cs_brdr {
    border: 1px solid #120c5f;
    border-top: 4px solid #120c5f;
    overflow: hidden;
    box-sizing: border-box;
}
/*--------Article start from here*/

#content {
    width: 66%;
    float: left;
    padding: 19px;
    padding-bottom: initial;
    box-sizing: border-box;
}
#content div {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #120c5f;
    overflow: hidden;
    box-sizing: border-box;
    background: #00000020;
}
#content div h2{
    text-align: center;
    font-family: georgia;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
    background: #120c5f;
    padding: 2%;
}

#content div p{
    font-family: tahoma;
    color: #120c5f;
    text-align: justify;
    margin: 15px 2%;
    font-size: 15px;
}
#content div figure{
    width: 75%;
    padding: 6px;
    background-color: #120c5f;
    margin: 0 auto;
    display: block;
}
#content div figure img{
    width: 100%;
    vertical-align: middle;
}
#content div figure figcaption{
    padding-top: 6px;
    color: #ffffff;
    text-align: center;
}
#content div blockquote{
    background-color: #ffffff;
    border-left: 4px double #120c5f;
    margin:0 10% 0 10%;
    padding-left: 5%; 
    margin-top: 10px;
    overflow: hidden;
}
#content div blockquote p{
    margin: 0px;
    margin-bottom: 15px;
}
/*--------Article stop here-----------*/

/*--------side baar start here----*/
#sbar {
    width: 34%;
    padding: 20px 19px;
    float: left;
    overflow: hidden;
    border-left: 5px solid #120c5f;
    box-sizing: border-box;
}
#sbar div {
    width: 100%;
    border-bottom: 5px solid #120c5f;
    padding-bottom: 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #00000020;
}
#sbar div h2 {
    font-family: georgia;
    color: #ffffff;
    background: #120c5f;
    font-size: 20px;
    padding: 2%;
    text-align: center;
}
#sbar div ul {
    margin-left: 20px;
    list-style-type: circle;
    padding-top: 15px;
}

#sbar div ul li{
    border-bottom: 1px solid #120c5f;
}

/*#sbar div ul li:last-child{
    border-bottom: none;
}*/

#sbar div ul li a {
    text-decoration: none;
    display: block;
    font-family: tahoma;
    padding: 2%;
    padding-left: 0px;
    color: #120c5f;
}
/*-------- web site content and site baar stop here ----------*/


.footer_bg{
    background-color: #120c5f;
}
.footer_brdr {
    border: 1px solid #ffffff;
    border-bottom: none;
    box-sizing: border-box;
}
#footer{
    padding: 10px;
    text-align: center;
    color: white;
}

